@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-1: #f97b22;
  --color-1-hover: #f7934c;
  --color-black: #000;
  --color-white: #f2f2f2;
  --gap: 2rem;
  --gap-20: 20px;
}

body {
  background: #f7f7f7;
}

/* utilitites */

.container {
  padding: 20px;
}

.container-lg {
  max-width: 1440px;
  padding: 80px;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.flex {
  display: flex;
}

.border-2 {
  border: 2px solid var(--color-black);
  border-radius: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
  color: var(--color-1);
}

.gap {
  gap: var(--gap);
}

.gap-20 {
  gap: var(--gap-20);
}

/* header */

.container-btn {
  display: flex;
  gap: 20px;
}

.header-btn {
  padding: 12px 23px;
  background: var(--color-1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-white);
  transition: background 0.3s;
}

.header-btn:hover {
  background: var(--color-1-hover);
}

/* form */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
}

.form > div {
  width: 100%;
}

/* input */

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  display: block;
  width: 100%;
}

/* responsive */

@media (max-width: 1000px) {
  .container-lg {
    padding: 40px;
  }

  .form {
    grid-template-columns: 1fr;
  }
}
